{% extends "base.html" %}

{% block main %}
<main id="main-content" tabindex="-1">
  <article class="home-intro">{{ content }}</article>

  <section class="home-writing" id="writing" aria-labelledby="writing-title">
    <h2 class="home-section-heading" id="writing-title">writing</h2>
    <ul class="writing-list">
      {% for post in index.recent_posts %}
      <li class="writing-row">
        <span class="writing-row__date">{{ post.date|month_year }}</span>
        <a class="writing-row__title" href="{{ post.route }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
    <a class="home-writing-all" href="/blogs/">all writings</a>
  </section>
</main>
{% endblock %}
